   /* Body */
body {
    font-family:'Roboto',
        sans-serif;
        color: var(--NAVY-BLUE, #434455);
        background-color: #FFF;
}
button {
    cursor: pointer;
}

/* header-logo */
.link { text-decoration: none; }

.list {
    list-style-type: none;
}

.logo {color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
    

.span-logo {color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;/
    letter-spacing:0.03em;
    text-transform: uppercase;}

    /* menu */

    .menu .link {color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;}

        .menu-item .list :hover, .menu-item .list:focus {color: var(--OCEAN, #404BBF);}

        .menu-item .link {text-decoration: none;}

        /* address */

.address-data {color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}
